BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 95%; MIN-HEIGHT: 100%; BACKGROUND-IMAGE: url(images/back.png); PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: Verdana, "Trebuchet MS", Helvicita, Arial, sans-serif; BACKGROUND-COLOR: #ffffff
}
HR {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 1px; BACKGROUND-COLOR: #808080; BORDER-BOTTOM-STYLE: none
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.header {
	PADDING-LEFT: 110px; BACKGROUND: url(images/top1.png) repeat-x; PADDING-TOP: 17px; HEIGHT: 90px; TEXT-ALIGN: center
}
.bodywrap {
	DISPLAY: none; Z-INDEX: 99; LEFT: 0px; POSITION: absolute; TOP: 0px; BACKGROUND-COLOR: #000000
}
.alpha {
	MARGIN-TOP: -17px; Z-INDEX: 5; FLOAT: right; PADDING-BOTTOM: 10px; MARGIN-RIGHT: 17px
}
.shoutboxcon {
	PADDING-RIGHT: 5px; MARGIN-TOP: 25px; PADDING-LEFT: 5px; Z-INDEX: 5; RIGHT: 130px; FLOAT: right; PADDING-BOTTOM: 5px; COLOR: #000000; MARGIN-RIGHT: 17px; PADDING-TOP: 5px; POSITION: absolute; BACKGROUND-COLOR: #cccccc; TEXT-ALIGN: left
}
.mast {
	MARGIN-TOP: 0px; FONT-SIZE: larger
}
.jsonlogo {
	FLOAT: right; MARGIN-LEFT: 1em
}
.mainbody {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em
}
.footer {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BACKGROUND-COLOR: #ffffaa
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
WBR:unknown {
	content: "?"
}
.noa {
	FONT-SIZE: 0em; LINE-HEIGHT: 0em
}
.titled {
	BORDER-BOTTOM: #000000 1px dashed
}
.output {
	MARGIN-TOP: 1em; MARGIN-BOTTOM: 1em
}
.desc {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #000000 1px solid; DISPLAY: none; PADDING-LEFT: 1em; Z-INDEX: 99; PADDING-BOTTOM: 1em; BORDER-LEFT: #000000 1px solid; WIDTH: 40%; PADDING-TOP: 1em; BORDER-BOTTOM: #000000 1px solid; POSITION: absolute; BACKGROUND-COLOR: #ffffee
}
.closep {
	MARGIN-BOTTOM: 0px; TEXT-ALIGN: center
}
H3 {
	MARGIN-TOP: -0.3em; FONT-SIZE: 105%; MARGIN-BOTTOM: 0.5em
}
TABLE {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; BORDER-COLLAPSE: collapse
}
TABLE TD {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0.3em; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 0.3em; PADDING-BOTTOM: 0.2em; VERTICAL-ALIGN: top; BORDER-LEFT: #000000 1px solid; PADDING-TOP: 0.2em; BORDER-BOTTOM: #000000 1px solid
}
TABLE TH {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0.3em; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 0.3em; PADDING-BOTTOM: 0.2em; VERTICAL-ALIGN: top; BORDER-LEFT: #000000 1px solid; PADDING-TOP: 0.2em; BORDER-BOTTOM: #000000 1px solid
}
DIV.object {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 1.5em; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 1.5em; PADDING-BOTTOM: 1.5em; BORDER-LEFT: #000000 1px solid; PADDING-TOP: 1.5em; BORDER-BOTTOM: #000000 1px solid; POSITION: relative; HEIGHT: 1%; BACKGROUND-COLOR: #eeeeee
}
.objecttable {
	BACKGROUND-COLOR: #ffffff
}
DIV.array {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 1.5em; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 1.5em; PADDING-BOTTOM: 1.5em; BORDER-LEFT: #000000 1px solid; PADDING-TOP: 1.5em; BORDER-BOTTOM: #000000 1px solid; POSITION: relative; HEIGHT: 1%; BACKGROUND-COLOR: #eeeeff
}
.arraytable {
	BACKGROUND-COLOR: #ffffee
}
.wrap {
	MARGIN: 0.3em
}
.string {
	COLOR: #000000
}
.number {
	COLOR: #0000ff
}
.boolean {
	COLOR: #ff8000
}
.void {
	COLOR: #0000ff
}
.widgets {
	RIGHT: 1.5em; WIDTH: 9px; POSITION: absolute; TOP: 1em; HEIGHT: 20px
}
.statson {
	BORDER-RIGHT: #a0a0a0 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #a0a0a0 1px solid; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; BORDER-LEFT: #a0a0a0 1px solid; PADDING-TOP: 0.5em; BORDER-BOTTOM: #a0a0a0 1px solid; BACKGROUND-COLOR: #ffffff
}
#statscon {
	DISPLAY: none
}
#stats TABLE {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#stats TABLE TR {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#stats TABLE TD {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.ex {
	MARGIN-TOP: 1px; MARGIN-BOTTOM: 1px; VERTICAL-ALIGN: middle
}
.clear {
	CLEAR: both
}
.lfloat {
	FLOAT: left
}
.rfloat {
	FLOAT: right
}
UNKNOWN {
	FONT-SIZE: large
}
UNKNOWN {
	FONT-SIZE: large
}
UNKNOWN {
	FONT-SIZE: large
}
UNKNOWN {
	FONT-SIZE: large
}
#text {
	MARGIN-BOTTOM: 0.5em; WIDTH: 99%
}
UNKNOWN {
	WIDTH: 100%
}
#shoutbox {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; MARGIN-TOP: 0.5em; DISPLAY: none; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #ffffff
}
