## 带有查询栏和Tab子页面的js模板
#parse("${meta.templateHome}_page_header.js.vm")

#set($_region_id = "ef_region_inqu")
#set($_grid_id = "ef_grid_result")
#parse("${meta.templateHome}_page_region.js.vm")

#set($_region_id = "ef_region_result")
#set($_grid_id = "ef_grid_result")
#parse("${meta.templateHome}_page_region.js.vm")

var handleClick = true;		//是否响应首页单击记录的事件
var tabIndexOnClick = 0;	//单击记录时，切换到的Tab页(0是第一个页面, <0表示不切换)
var handleDblClick = true;	//是否响应首页双击记录的事件
var tabIndexOnDblClick = 1;	//双击记录时，切换到的Tab页(0是第一个页面, <0表示不切换)
var checkTabSwitch = true;	//未选中记录时，是否允许切换Tab页

var selected = null;		//保存单击或者双击选中的记录

/**
 * 页面加载后的回调
 */
efform_onload = function()
{
	loadTabPage(0);
}

/**
 * 主表选中记录处理
 */
function efgrid_onRowClicked( grid_id, row_index )
{
    if( grid_id == "ef_grid_result" )
    {
    	var grid = efgrid.getGridObject("ef_grid_result");
    	selectRow(grid, row_index);
		efRoundIframechange_option("ef_tab_y", tabIndexOnClick, onTabChange);
    }
}

/**
 * Tab切换的回调
 */
onTabChange = function(currentIndex, index) {
	if (selected==null && checkTabSwitch ) { //未选中记录时，不能切换到后续的Tab页
		alert("请选择记录!");
		return false;
	}
	loadTabPage(index);
	tabIndexOnClick=index;
	return true; 
}

/**
 *  加载Tab中的子页面
 */
loadTabPage = function(index) {
	var frame = frames[index];
	var _path = selected==null ? path[index] : composePath(frame, path[index], index);

		$(frame).attr("__src", _path);
		frame.src = _path;
		efform.setStatus(0, "正在加载...");

}

/**
 * 当首页单击、或者双击多记录表格的一行时，记录选择的行
 */
selectRow = function(grid, row_index) {
	selected = grid.getRowData(row_index);
}

/**
 * 当Tab中的页面加载之后的回调
 */
onTabPageLoad = function(wnd, index) {
}


/**
 * 拼接Tab页面的路径，一般需要加上页面查询的参数
 * frame: 当前加载页面的iframe
 * path: 配置的路径前缀(页面号)
 * index: Tab页的索引号，从0开始
 */
composePath = function(frame, path, index) {
	switch(index) {
	case 0: //第1个Tab页
		return path + "&methodName=query&inqu_status-0-yourQueryKey=" + selected["yourQueryKey"];
#set($_block_tab = $meta.getBlock(".func$ef_region_tab"))
#set($_tab_keys = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20"])
#set($_i = 1)
#foreach( $_tab_key in $_tab_keys)
#set($_tab_ename = $_block_tab.get("tabEname$_tab_key"))
#set($_tab_cname = $_block_tab.get("tabCname$_tab_key"))
#if($_tab_key != "1" && $_tab_ename && $_tab_ename.trim() != "")
	case $_i: //第${_tab_key}个Tab页
		return path + "&methodName=query&inqu_status-0-yourQueryKey=" + selected["yourQueryKey"];
#set($_i = $_i + 1)
#end
#end
	default:
		return null;
	}
}

#parse("${meta.templateHome}_page_footer.js.vm")