BODY {FONT-SIZE: 12px; SCROLLBAR-FACE-COLOR:#FFFFFF;SCROLLBAR-HIGHLIGHT-COLOR:#A9A8A5;SCROLLBAR-SHADOW-COLOR:#A9A8A5;SCROLLBAR-ARROW-COLOR:#A9A8A5;
SCROLLBAR-BASE-COLOR:#FFFFFF; }
TABLE {font-family: "宋体";FONT-SIZE: 12px;color:#000000;}
TR {font-family: "宋体";FONT-SIZE: 12px;color:#000000;}
TD {font-family: "宋体";FONT-SIZE: 12px;color:#000000;}

.text {font-family: "宋体";
        font-size: 12px;
		font-weight: normal;
		color: #3A1D89;
		text-decoration: none;
		filter: DropShadow(Color=#ffffff, OffX=1, OffY=1);
		text-align: center;
		vertical-align: bottom;
}
.input1 {
	font-family: "宋体";
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	text-align: left;
	vertical-align: bottom;
	height: 15px;
	width: 80px;
	text-align: left;
	border: 1px solid #603CAB;

}
.botton {font-family: "宋体";
        font-size: 12px;
		font-weight: normal;
		color: #737373;
		text-decoration: none;
		text-align: center;
		vertical-align: middle;
}
